@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1><br />
    <h1 class="display-4">RitaGlamStudio's Website</h1>

</div>
<div class="container">
    <img src="~/images/logo2.png" width="100%" />
    <!-- colocar um til é referenciar o caminho para o root -->
</div>
