@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RitaGlamStudio's Website</h1><br />
</div>

<div class="container" style="text-align: center;">
    <img src="~/images/logo2.png" style="width: 500px; height: auto; display: block; margin: 0 auto;" alt="Logo" />
    <!-- colocar um til é referenciar o caminho para o root -->
</div>
<br />
<div style="text-align: center; font-style: italic; color: grey; margin-top: 10px;">
    <p>This website is a part of a school project and is for educational purposes only. It is not intended to sell or review any makeup products.</p>
</div>