@model IEnumerable<Brand>

<div class="w-100 card border-0 p-4">
	<div class="card-header bg-success bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">MAKEUP BRANDS</h2>
			</div>
		</div>
	</div>
	<div class="card-body border p-4">
		<div class="row pb-3">
			<div class="col-6 offset-6 text-end">
				<a asp-controller="Brand" asp-action="Create" class="btn btn-secondary">
					<i class="bi bi-plus-circle"></i> Add a new Brand
				</a>
			</div>
		</div>

		<div class="table-responsive" style="max-width: 700px; margin: 0 auto;">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="col-8">Name</th>
						<th class="col-4"></th>
					</tr>
				</thead>

				<tbody>
					@foreach (var obj in Model)
					{
						<tr>
							<td>@obj.Name</td>
							<td>
								<div class="btn-group" role="group">
									<a asp-action="Update" asp-route-brandId="@obj.Id" class="btn btn-success mx-2">
										<i class="bi bi-pencil-square"></i> Edit
									</a>
									<a asp-action="Delete" asp-route-brandId="@obj.Id" class="btn btn-danger mx-2">
										<i class="bi bi-trash-fill"></i> Delete
									</a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
